body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.master{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: #D3D3D3	;


    
}

#left{
    display: flex;
    float: left;
}

#top{
    display: flex;
    margin-bottom: 15px;
}

img {
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p.username{
    width: 200px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    
}

p.verified{
    margin-top: 10px;
    opacity: 50%;
    color: #ffffff;
    margin-left: 10px;
    
}

p.username3{
    width: 200px;
    font-weight: bold;
    color: #48556a;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    
}

p.verified3{
    margin-top: 10px;
    opacity: 50%;
    color: #48556a;
    margin-left: 10px;
    
}

p.text-b{
    width: 500px;
    text-align: left;
    font-size: large;
    color: #ffffff;
    font-weight: bold;
    
    
}

p.text{
    width: 500px;
    text-align: left;
    color: #ffffff;
    opacity: 70%;
}

p.text-b3{
    width: 200px;
    text-align: left;
    font-size: large;
    color:#48556a;
    font-weight: bold;
    
    
}

p.text3{
    width: 200px;
    text-align: left;
    color: #48556a;
    opacity: 70%;
}

#buttom{
    display: flex;
}
#right{
    display: flex;
    float: right;
}
#centrada1{
   background-color: #7541c8;
   display: inline-block;
   padding: 30px;
   border-radius: 5%;

}
#centrada2{
    display: inline-block;
   background-color: #48556a;
   padding: 30px;
   border-radius: 5%;


}

#centrada3{
    display: inline-block;
    flex-direction: row;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5%;


}

#centrada4{
    display: inline-block;
    background-color: #19212e;
    border-radius: 5%;
    padding: 30px;

    
    
}
#centrada5{
    order: 5;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5%;
    padding: 30px;

}